<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CASE</title>
    <link rel="stylesheet" type="text/css" href="/edit.css" />
    <script src="https://kit.fontawesome.com/9fce7a07c3.js" crossorigin="anonymous"></script>
  </head>
  <body>
      <nav>
        <h1 class="title">
          <a class="case" href="/">CASE</i></a>
        </h1>
        <ul class="nav-link">
          <li class="last_home"><a class="home" href="/"><i alt="about" class="fa-solid fa-users"></i></a></li>
          <li><a class="home login" href="/login"><i class="fa-solid fa-right-to-bracket"></i></a></li>

        </ul>
        <h1><i class="fa-solid fa-suitcase menu-btn"></i></h1>
      </nav>
      <h1>Edit User</h1>
      <% if (err) { %>
    <span style="font-size: 36px; color: white; background-color: black;"><%= err %></span>
    <% } %>
      <form action="/edit/<%= user._id %>" method="POST">
          <div class="box">
              <label for="admin">User Admin:</label>
              <input type="checkbox" id="isAdmin" name="admin" <% if (user.admin) { %>checked<% } %>>
              <button class="update" type="submit">Update</button>
          </div>
      </form>
      <script>
        const menuBtn = document.querySelector('.menu-btn')
        const navlink = document.querySelector('.nav-link')
    
        menuBtn.addEventListener('click', () => {
          navlink.classList.toggle('mobile-menu')
        })

        const adminCheck = document.getElementById('isAdmin')
        
        adminCheck.addEventListener('change', () => {
          if (adminCheck.checked) {
            adminCheck.value = true
          } else {
            adminCheck.value = false
          }
        })
      </script>
    </body>