<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CASE</title>
    <link rel="stylesheet" type="text/css" href="/index_acc.css" />
    <script src="https://kit.fontawesome.com/9fce7a07c3.js" crossorigin="anonymous"></script>
  </head>
    <body>
      <nav>
        <h1 class="title">
          <a class="case" href="/home">CASE</i></a>
        </h1>
        <ul class="nav-link">
          <li class="last_home"><a class="home" href="/cases"><i class="fa-solid fa-magnifying-glass"></i></a></li>
          <li><a class="home" href="/account"><i class="fa-solid fa-gear"></i></a></li>
          <li><a class="home login" href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
        <h1><i class="fa-solid fa-suitcase menu-btn"></i></h1>
      </nav>
    <!-- Card Section -->
    <div class="center">
        <div class="message">
          <% const arr = name.split(" ")
             for (var i = 0; i < arr.length; i++) {
                  arr[i] = arr[i].charAt(0).toUpperCase() + arr[i].slice(1)
              }
                                 
              const str2 = arr.join(" ")
              name = str2
          %>
          <h1 class="speak">Dashboard</h1>
          <div class="dashboard">
            <div class="block1">
              <h3 class="margin-bottom">Your Viewer Stats</h3>
              <table class="textblock1">
                <tr>
                  <th id="view-hours">Hours Watched</th>
                  <div class="hours">
                    <td id="hours">0</td>
                </div>
                </tr>
                <tr>
                  <th id="viewer-sentiment">Viewer Sentiment</th>
                  <td>0</td>
                </tr>
                <tr>
                  <th id="viewer-contributions">Viewer Contribution</th>
                  <td>0</td>
                </tr>
                </table>
              </div>
            <div class="block2">
              <h3 class="margin-bottom">Your Debater Stats</h3>
              <table class="textblock2">
                <tr>
                  <th id="resolve">Resolutions</th>
                  <td id="resolved">0</td>
                </tr>
                <tr>
                  <th id="res-rate">Resolution Rate</th>
                  <td>0</td>
                </tr>
                <tr>
                  <th id="chat-sentiment">Avg. Viewership Sentiment</th>
                  <td>0</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    <div class="hero-1-all hidden">
        <article class="hero-image-1 hidden">
            <div class="hero-container-1">
                <div class="info">
                <h1 class="p1">You've Taken That Step</h1>
                <p class="card-1">
                We raise intelligence and cure the feat of self-awareness existent in
                every discussion a human has had the privilege to engage in. Every
                facet of intelligence is confined in what you do for people, many of
                us fight half of the battle, and fail to recognize emotional
                intelligence. The abandonment of positive emotions leaves more room
                for dysfunction, and we must train ourselves to communicate in a way
                that leads to the mutual enhancement of intelligence.
                </p>
            </div>
        </div>
      </article>
    </div>
    <article class="hero-image-2 hidden">
      <div class="hero-container-2">
          <div class="info">
          <h1 class="p2">Media Repurposed</h1>
          <p class="card-2">
            Social Media is a marketplace where currency is social
            validation. It's hard to admit that we need the validation of others, 
            so conversation devolves into taking an eye for an eye, and meaningful
            discussion turns into an emotional turmoil of vengeance rather than
            the entertainment that can actually be found within the genuine
            vigilance of having an opposing view.
          </p>
      </div>
  </div>
  </article>
  <article class="hero-image-3 hidden">
    <div class="hero-container-3">
        <div class="info">
        <h1 class="p3">So... Why?</h1>
        <p class="card-3">
          The pitfalls of current social media is why the Coordinated
          Applicative Science Engine (CASE) was invented. With this application,
          resolution is the goal as well as meaningful dialogue. We provide a
          point system that heavily values the voice of the people, and train
          people to come to terms with differences in a way that creates change,
          not hardship. So come on and join us!<br>
        </p>
    </div>
    <button class="sched">Schedule A Debate</button>
  </div>
  </article>
  <footer>
    <h3 class="foot-title">Coordinated Applicative Science Engine</h3>
    <ul class="footer">
        <li><a class="foot-link" href="#">About</a></li>
        <li><a class="foot-link" href="/cases">Index</a></li>
        <li><a class="foot-link" href="/support">Support</a></li>
    </ul>
    <p class="copyright">Cee Allah Salaam</p>
  </footer>
  <script>
    const menuBtn = document.querySelector('.menu-btn')
    const navlink = document.querySelector('.nav-link')

    menuBtn.addEventListener('click', () => {
      navlink.classList.toggle('mobile-menu')
    })

    const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
        console.log(entry)
        if (entry.isIntersecting) {
            entry.target.classList.add('show')
        } else {
            entry.target.classList.remove('show')
        }
    })
})

const hiddenElements = document.querySelectorAll('.hidden')

hiddenElements.forEach((el) => observer.observe(el))
  </script>
  </body>
</html>
