@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Inconsolata&family=Source+Serif+Pro&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', sans-serif;
}

body, html {
    background-color: rgb(40, 0, 40)
}

header{
    height: 7%;
    width: 100%;
}

/* Navigation Pane */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    letter-spacing: 9px;
    font-size: 30px;
}

.case:link, .case:hover,
.case:visited  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(242, 175, 98);
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(242, 175, 98)
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: purple;
}

.nav-link{
    width: 100%;
    height: 50px;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;

}

li {
    width: 25%;
    padding: 10px 15px;
}

.home {
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: space-evenly;
    background-color: rgb(125, 0, 255)/*rgb(150, 0, 255)*/;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight:bolder;
    letter-spacing: 5px;
    border-radius: 50px;
    border: 5px solid rgb(242, 175, 98);
}

.login {
    background-color:rgba(10, 200, 0, 0.6);
}

h1>.menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    font-size: 32px;
    cursor: pointer;
    display: none;
}

/* Pre-Hero Section */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.message {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 100%;
    width: 100%;
    color: orange;
    text-shadow: 2px 2px black;
    background-image: linear-gradient(
    rgba(40,0,40, 0.9),
    rgba(200, 100, 0, 0.3),
    rgba(40,0,40, 1)),
    url("../images/9-04.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Hero Section */

.hero-image-1 {
    width: 90%;
    height: 50vh;
    color: white;
    background-image: linear-gradient(
        rgba(0,0,0,0.9),
        rgba(200, 100, 0, 0.4),
        rgba(200, 0, 150, 0.7)),
        url("../images/retro-microphone-isolated-color-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-top: 50px;
    margin: 100px auto;
    border: 3px solid rgba(200, 0, 150, 0.7);
}

.hero-image-2 {
    width: 90%;
    height: 50vh;
    color: white;
    background-image: linear-gradient(
        rgba(0,0,0, 0.7),
        rgba(200, 50, 0, 0.6)),
        url("../images/social-media-audience-crowd-filming-through-smartphones-remixed-media.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-top: 50px;
    margin: 100px auto;
    border: 3px solid white;
}

.hero-image-3 {
    width: 90%;
    height: 50vh;
    color: white;
    background-image: linear-gradient(
        rgba(0,0,100, 0.7),
        rgba(10, 100, 0, 0.6)),
        url("../images/2208_w046_n005_258b_p1_258.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-top: 50px;
    margin: 100px auto;
    border: 3px solid orange;
}

.hero-container-1 {
    display: flex;
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.hero-container-2 {
    display: flex;
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.hero-container-3 {
    display: flex;
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.hero-container-1 .info h1 {
    font-size: 5rem;
    color: white;
    border-left: 10px solid purple;
    padding-left: 50px;
}

.hero-container-2 .info h1 {
    font-size: 5rem;
    color: white;
    border-left: 10px solid orange;
    padding-left: 50px;
    text-align: center;
}

.hero-container-3 .info h1 {
    font-size: 5rem;
    color: white;
    border-left: 10px solid white;
    padding-left: 50px;
    text-align: center;
}

.card-1 {
    color: white;
    border-left: 10px solid black;
    padding-right: 400px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-left: 10px solid black;
    padding-right: 400px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
}

.card-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-left: 10px solid black;
    padding-right: 300px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
}

/* Button */

.sched {
    display: flex;
    width: 700px;
    height: 80px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border: 3px solid white;
    border-radius: 200px;
    font-weight: bold;
    cursor: pointer;
}

.sched:active {
    background-color:rgba(10, 100, 0, 0.6);
    color: white;
    border: 3px solid orange;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 3px solid orange;
    background-color: black;
    height: 200px;
}

.foot-link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: orange;
    width: 100px;
    border-radius: 50px;
}

.foot-title {
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
}

.copyright {
    display: flex;
    color: white; 
    justify-content: left;
    border-top: 5px solid white;
    padding-top: 5px;
}


@media screen and (max-width: 1000px) {

    .menu-btn {
        display: block;
    }

    header {
        width: 100%;
        height: 100%;
    }

    .title {
        height: 80px;
        padding-right: 40px;
        padding-left: 40px;
        align-items: center;
    }

    nav {
        height: 100%;
    }


    .nav-link {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: rgb(40, 0, 40);
        margin-top: -1000px;
        transition: all 0.5s ease;
        border-left: 10px solid orange;
    }

    .home {
        width: 150px;
        height: 50px;
    }

    .mobile-menu {
        margin-top: 0px;
        }

    .nav-link li {
        margin: auto;
        width: 100px;
    }

    .card-1 {
        margin: auto;
        display: block;
        color: white;
        border-left: none;
        font-weight: bold;
        padding: 0;
    }

    .card-2 {
        margin: auto;
        display: block;
        color: white;
        border-left: none;
        font-weight: bold;
        padding: 0;
    }
    .card-3 {
        margin: auto;
        color: white;
        display: block;
        border-left: none;
        font-weight: bold;
        padding: 0;
    }

    .home {
        margin: 50px 0;
    }

    .hero-container-1 .info h1 {
        border-left: none;
        margin: 0;
        padding: 0;
        font-size: 3rem;
    }

    .hero-container-2 .info h1 {
        border-left: none;
        margin: 0;
        padding: 0;
        font-size: 3rem;
    }

    .hero-container-3 .info h1 {
        border-left: none;
        margin: 0;
        padding: 0;
        font-size: 3rem;
    }

}