*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

header{
    height: 7%;
    width: 100%;
}

/* Navigation Pane */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    letter-spacing: 9px;
    font-size: 30px;
}

.case:link, .case:hover,
.case:visited  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(242, 175, 98);
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(242, 175, 98)
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: purple;
}

.nav-link{
    width: 100%;
    height: 50px;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;

}

li {
    width: 25%;
    padding: 10px 15px;
}

.home {
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: space-evenly;
    background-color: rgb(125, 0, 255)/*rgb(150, 0, 255)*/;
    align-items: center;
    width: 125px;
    height: 30px;
    font-weight:bolder;
    letter-spacing: 5px;
    border-radius: 50px;
}

.login {
    background-color:rgba(10, 200, 0, 0.6);
}

h1>.menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    font-size: 32px;
    cursor: pointer;
    display: none;
}

.hero {
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), #3551b5), url(reaper.jpg);
    background-position: center;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width:90%;
    max-width: 600px;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

button{
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group{
    flex-basis: 48%;
}

@media screen and (max-width: 760px) {

    h1>.menu-btn {
        display: block;
    }

    header {
        width: 100%;
        height: 100%;
    }

    .title {
        height: 80px;
        padding-right: 40px;
        padding-left: 40px;
        align-items: center;
    }

    nav {
        height: 100%;
    }


    .nav-link {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(40, 0, 120);
        margin-top: -1000px;
        transition: all 0.5s ease;
        border-left: 10px solid orange;
    }

    .home {
        width: 150px;
        height: 50px;
        margin: 50px 0;
    }


    .mobile-menu {
        margin-top: 0px;
    }

    .nav-link li {
        margin: auto;
        width: 100px;
    }
}